<html>
  <%- include ("./partials/header.ejs") %>
  <body>
    <h3>Loaned Books list</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
          <th scope="col">Borrow Date</th>
          <th scope="col">Return Buttons</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.genre %></td>
            <td>
              <!-- TODO: Create a Return book tag that is used for returning the book -->
            </td>
        </tbody>
      </tbody>
    </table>
  </body>
</html>
